.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  gap: 0.5rem;
}


.item {
  all : unset;
  border: 1px solid #B1B0B3;
  border-radius: 4px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 450px;
  padding: 16px;
  transition: all 0.1s;
}

.item:hover:not(:disabled) {
  cursor: pointer;
  border-color: #656466;
}

.item:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
